.bg-yellow-cs {
    background-color: #fee50e!important;
}

.bg-dark-cs {
    background-color: #282828!important;
}

.font-bold-cs{
	font-weight : bold;
}
.font-bolder-cs{
	font-weight : bolder;
}
body, th, td, input, select, textarea, button {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    letter-spacing: -0.05em;
}