<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="PurchaseMapper">
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="purchaseNo" 				column="purchase_no" 				jdbcType="INTEGER"  />
		<result property="purchaseUserNo" 			column="purchase_user_no" 			jdbcType="INTEGER"  />
		<result property="purchaseProductNo" 		column="purchase_product_No" 		jdbcType="VARCHAR"  />
		<result property="purchaseProductQuantity" 	column="purchase_product_Quantity" 	jdbcType="VARCHAR"  />
		<result property="purchaseStatus" 			column="purchase_Status" 			jdbcType="INTEGER"  />
		<result property="purchasePrice" 			column="purchase_Price" 			jdbcType="INTEGER"  />
		<result property="purchaseDate" 			column="purchase_Date" 				jdbcType="TIMESTAMP"  />
		<result property="receiverPhone" 			column="receiver_phone" 			jdbcType="VARCHAR"  />
		<result property="receiverName" 			column="receiver_name" 				jdbcType="VARCHAR"  />
		<result property="senderMessage" 			column="sender_message" 					jdbcType="VARCHAR"  />
	</resultMap>
	
	
	<insert id="addPurchase" parameterType="Purchase">
	 	INSERT
		INTO purchase ( purchase_no, purchase_user_no, purchase_product_No, purchase_product_Quantity, purchase_Status,
						purchase_Price, purchase_Date, receiver_phone, receiver_name, message )
		VALUES	 
		( seq_purchase_purchase_no.NEXTVAL,
		  #{purchaseUserNo:INTEGER},
		  #{purchaseProductNo:VARCHAR},
		  #{purchaseProductQuantity:VARCHAR},
		  #{purchaseStatus:INTEGER},
		  #{purchasePrice:INTEGER},
		  SYSTIMESTAMP,
		  #{receiverPhone:VARCHAR},
		  #{receiverName:VARCHAR},
		  #{senderMessage}
		)
	 </insert>
	 
	<select id="getPurchase" parameterType="int"  resultMap="purchaseSelectMap" >
	 	SELECT
	 	*
	 	FROM purchase	
		WHERE 
		purchase_no = #{value}	
	</select>
	 
	<select id="getPurchaseList" parameterType="Purchase"  resultMap="purchaseSelectMap" >
	 	SELECT
	 	*
	 	FROM purchase
		<trim prefix="where" suffixOverrides="and">
			<if test="purchaseUserNo !=null">purchase_user_no = #{purchaseUserNo} and</if>
			<if test="receiverPhone !=null">receiver_phone = #{receiverPhone} and</if>
			<if test="purchaseDate !=null">to_char(purchase_Date, 'yyyy-MM-DD') = to_char(#{purchaseDate}, 'yyyy-MM-DD') and</if>
		</trim>	
	 </select>	 
	
	<update id="updatePurchase" parameterType="Purchase" >
	 	UPDATE purchase
	 	<trim prefix="SET" suffixOverrides=",">
			<if test="purchaseUserNo !=null">purchase_user_no = #{purchaseUserNo},</if>
			<if test="purchaseProductNo !=null">purchase_product_No = #{purchaseProductNo},</if>
			<if test="purchaseProductQuantity !=null">purchase_product_Quantity = #{purchaseProductQuantity},</if>
			<if test="purchaseStatus !=null">purchase_Status = #{purchaseStatus},</if>
			<if test="purchasePrice !=null">purchase_Price = #{purchasePrice},</if>
			<if test="purchaseDate !=null">purchase_Date =#{purchaseDate},</if>
			<if test="receiverPhone !=null">receiver_Phone = #{receiverPhone},</if>
			<if test="receiverName !=null">receiver_Name = #{receiverName},</if>
			<if test="senderMessage !=null">sender_message = #{senderMessage},</if>
		</trim>
			<where>
				purchase_no = #{purchaseNo}
			</where>
	 </update>
	 	
	<delete id="deletePurchase" parameterType="int">
		DELETE from purchase 
		WHERE 
		purchase_user_no = #{value}
	</delete>
	
	
</mapper>
