<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="PurchaseMapper">
 	
	<resultMap id="purchaseSelectMap" 			type="purchase">
		<result property="purchaseNo" 				column="purchase_no" 		jdbcType="INTEGER"  />
		<result property="purchaseUser" 			column="purchase_user" 			jdbcType="INTEGER"  />
		<result property="purchaseStatus" 			column="purchase_status" 	jdbcType="INTEGER"  />
		<result property="purchasePrice" 			column="purchase_price" 	jdbcType="INTEGER"  />
		<result property="purchaseDate" 			column="purchase_date" 		jdbcType="DATE"  />
		<result property="rcPhone" 					column="rc_phone" 			jdbcType="NUMERIC"  />
		<result property="rcName" 					column="rc_Name" 			jdbcType="VARCHAR"  />
		<result property="message" 					column="message" 			jdbcType="VARCHAR"  />
		<result property="purchaseQuantity" 		column="purchase_quantity" 	jdbcType="INTEGER"  />
		
		<association property="purchaseProd" javaType="product">
			<id property="prodNo" column="prod_no" 			jdbcType="INTEGER"  />
			<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR"  />
			<result property="prodDate" 		column="prod_date" 			jdbcType="DATE"/>
			<result property="prodPrice" 		column="prod_price" 		jdbcType="INTEGER"  />
			<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR"  />
			<result property="prodImage" 		column="prod_image" 		jdbcType="VARCHAR"  />
			<result property="franType" 		column="fran_type" 			jdbcType="INTEGER"  />
			<result property="prodType" 		column="prod_type" 			jdbcType="INTEGER"  />
			<result property="quantity" 		column="quantity" 			jdbcType="INTEGER"  />
		</association>
		
	</resultMap>
	
	
	<insert id="addPurchase"		parameterType= "Purchase" >
	 	INSERT
		INTO purchase ( purchase_no  , purchase_user , purchase_prod , purchase_status , purchase_price , 
						purchase_date ,rc_phone , rc_Name , message ,purchase_quantity) 
		VALUES	 (
					seq_purchase_purchase_no.NEXTVAL,
					 #{purchaseUser},
					 #{purchaseProd.prodNo},
					  0,
					 #{purchasePrice},
					 SYSTIMESTAMP,
					  #{rcPhone},
					  #{rcName},
					 null ,
					  #{purchaseQuantity}
				)
	 </insert>
	
	
	<insert id="addGiftPurchase"		parameterType= "Purchase" >
	 	INSERT
		INTO purchase ( purchase_no  , purchase_user , purchase_prod , purchase_status , purchase_price , 
						purchase_date ,rc_phone , rc_Name , message ,purchase_quantity) 
		VALUES	 (
					seq_purchase_purchase_no.NEXTVAL,
					 #{purchaseUser},
					 #{purchaseProd.prodNo},
					  2,
					 #{purchasePrice},
					 SYSTIMESTAMP,
					 #{rcPhone},
					 #{rcName},
					#{message},
					 #{purchaseQuantity}
				)
	 </insert>
	
	<select id="getPurchase" parameterType="INTEGER"  resultMap="purchaseSelectMap" >
	 	SELECT
	 	*
	 	FROM PURCHASE	
	 	WHERE purchase_no = #{purchaseNo} AND purchase_user = #{purchaseUser}
	 	ORDER BY purchase_date
	 </select>
	
	
	<select id="getPurchaseList"	parameterType="purchase"	resultMap="purchaseSelectMap" >
		SELECT
		*
		FROM  PURCHASE
		ORDER BY purchase_no;
	</select>
	
	<update id="updatePurchase" parameterType="INTEGER" >
	 	UPDATE purchase
	 	<set>
			purchase_status = 1	 	
	 	</set>
	 	WHERE purchase_status = 0
	 </update>
	
	
	<update id="updateGiftPurchase" parameterType="INTEGER" >
	 	UPDATE purchase
	 	<set>
			purchase_status = 3	 	
	 	</set>
	 	WHERE purchase_status = 2
	 </update>
	
	
	
</mapper>
